CatalogoCloud (Unzipped Files)/CatalogoCloud_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
     ========================================================
     Módulo: LMSGI - CFGS DAM/DAW
     Autor: Willman Acosta Lugo
     Descripción: Esquema XSD con restricciones RegEx para validar catalogo.xml
     ========================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <!-- ========================================== -->
    <!-- DEFINICIÓN DE TIPOS SIMPLES (CON REGEX)    -->
    <!-- ========================================== -->
    
    <xs:simpleType name="TipoIdServidor">
        <xs:restriction base="xs:string">
            <xs:pattern value="srv-[a-z]+-[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoZona">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}-[a-z]+-\d+" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoRack">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]\d{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoVersion">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d+(\.\d+)*" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoEstado">
        <xs:restriction base="xs:string">
            <xs:pattern value="activo|mantenimiento|apagado" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- ========================================== -->
    <!-- D: TIPO COMPLEJO notas_mantenimiento       -->
    <!-- xs:all permite cualquier orden de campos   -->
    <!-- ========================================== -->
    <xs:complexType name="TipoNotasMantenimiento">
        <xs:all>
            <xs:element name="fecha"      type="xs:date"   minOccurs="0" />
            <xs:element name="autor"      type="xs:string" minOccurs="0" />
            <xs:element name="comentario" type="xs:string" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    
    <!-- ========================================== -->
    <!-- ATRIBUTOS Y GRUPOS REUTILIZABLES           -->
    <!-- ========================================== -->
    
    <xs:attributeGroup name="datosGestion">
        <xs:attribute name="id"        type="TipoIdServidor" use="required" />
        <xs:attribute name="estado"    type="TipoEstado"     use="required" />
        <xs:attribute name="ubicacion" type="xs:string"      use="required" />
    </xs:attributeGroup>
    
    <xs:group name="especificacionesTecnicas">
        <xs:sequence>
            <xs:element name="cpu">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="nucleos"      type="xs:integer" use="required" />
                            <xs:attribute name="arquitectura" type="xs:string"  use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="ram">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:integer">
                            <xs:attribute name="unidad" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="MB|GB|TB" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="discos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="disco" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="tipo" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:pattern value="NVMe|SSD|HDD" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="capacidad_tb" type="xs:integer" use="required" />
                                <xs:attribute name="principal"    type="xs:boolean" use="required" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    
    <!-- ========================================== -->
    <!-- ESTRUCTURA DEL DOCUMENTO                   -->
    <!-- ========================================== -->
    
    <xs:element name="catalogo_cloud">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="centro_datos" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="servidor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        
                                        <xs:element name="hardware">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:group ref="especificacionesTecnicas" />
                                                    <xs:element name="gpu" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="modelo"  type="xs:string"  use="required" />
                                                                    <xs:attribute name="vram_gb" type="xs:integer" use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <!-- C: Exclusión mutua entre mac_address e id_interno -->
                                        <xs:choice>
                                            <xs:element name="mac_address" type="xs:string" />
                                            <xs:element name="id_interno"  type="xs:string" />
                                        </xs:choice>
                                        
                                        <xs:element name="software">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="so">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="version" type="TipoVersion" use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="servicios">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="servicio" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="puerto" type="xs:integer" use="required" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <!-- D: notas_mantenimiento opcional, orden libre -->
                                        <xs:element name="notas_mantenimiento"
                                                    type="TipoNotasMantenimiento"
                                                    minOccurs="0" />
                                        
                                    </xs:sequence>
                                    
                                    <xs:attributeGroup ref="datosGestion" />
                                    <xs:attribute name="rack" type="TipoRack" use="required" />
                                    
                                </xs:complexType>
                            </xs:element>
                            
                            <!-- E Acción 1: entre 0 y 4 unidades de almacenamiento por centro -->
                            <xs:element name="almacenamiento" minOccurs="0" maxOccurs="4">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tipo"         type="xs:string"  minOccurs="0" />
                                        <xs:element name="capacidad_tb" type="xs:integer" minOccurs="0" />
                                    </xs:sequence>
                                    <xs:attributeGroup ref="datosGestion" />
                                </xs:complexType>
                            </xs:element>
                            
                        </xs:sequence>
                        
                        <xs:attribute name="ubicacion" type="xs:string" use="required" />
                        <xs:attribute name="zona"      type="TipoZona"  use="required" />
                        
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="empresa" type="xs:string" use="required" />
        </xs:complexType>
        
        <!-- E Acción 2: el atributo id debe ser único en todos los servidores del catálogo -->
        <xs:unique name="idServidorUnico">
            <xs:selector xpath="centro_datos/servidor" />
            <xs:field    xpath="@id" />
        </xs:unique>
        
    </xs:element>
    
</xs:schema>